@model ArmyViewModel

@foreach (var unit in Model.AvailableUnits)
{
    <form asp-action="AddUnit" asp-controller="Army"asp-route-id="@unit.Id" asp-route-armyid="@Model.Army.Id">
        <div class="row">
            <div class="col-10">
                <div class="card shadow mb-4" id="Model-card-id-@unit.Id">
                    <!-- Card Header - Accordion -->
                    <a href="#unit-card-@unit.Id" class="d-block card-header py-3 collapsed" data-toggle="collapse"
                       role="button" aria-expanded="false" aria-controls="collapseCardExample">
                        <h6 class="m-0 font-weight-bold text-primary">
                            @if (unit.IsUnique)
                            {<span><i class="fas fa-square fa-xs"></i></span>}
                            @unit.Name [@unit.PointCost]
                        </h6>
                    </a>
                    <!-- Card Content - Collapse -->
                    <div class="collapse" id="unit-card-@unit.Id">
                        <div class="card-body">
                            This is a collapsable card example using Bootstrap's built in collapse
                            functionality. <strong>Click on the card header</strong> to see the card body
                            collapse and expand!
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <button type="submit" class="btn btn-success btn-circle align-middle">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
    </form>
}