@model ArmyViewModel
<!-- Page Heading -->
<div class="row">
    <div class="d-sm-flex col align-items-center justify-content-between mb-4">
        <h1 class="h2 mb-0 text-gray-800">@Model.Army.Name</h1>
    </div>

    <div class="card col-8 bg-light text-black shadow">

        @await Html.PartialAsync("_ArmyStatus", Model)

    </div>
</div>

<!-- Units/Upgrades Row -->
<div class="row" id="unitUpgradeSection">

    <!-- Column of Available Units-->
    <div class="col-5" id="available-list">
        <h3 class="h3 mb-0 text-gray-800">Available Units</h3>
        @if (Model.AvailableUnits != null)
        {
            @await Html.PartialAsync("_UnitCardAvailable", Model)

        }
    </div>

    <!-- Column of Current Units-->
    <div class="col-5" id="current-list">
        <h3 class="h3 mb-0 text-gray-800">Current Units</h3>

        @if (Model.CurrentUnits.Count == 0 || Model.CurrentUnits == null)
        {
            <div>
                <h4>Add units from Available Units</h4>
            </div>
        }
        else
        {
            @await Html.PartialAsync("_UnitCardCurrent", Model)
            //@await Html.PartialAsync("_UnitCardCurrentForLoop", Model)
        }
    </div>

    <!-- Column of Available Upgrades-->
    <div class="col-2" id="currentUpgrade">
        <h3 class="h3 mb-0 text-gray-800">Upgrades </h3>
        @await Html.PartialAsync("_CurrentUnitUpgrades", Model)

    </div>

</div>
<script>
    $(function () {

        $('#current-list').on('click', '#lukeskywalker', function () {
            var url = $(this).attr('href');

            $('#current-list').load(url);

            return false;
        })
    })
</script>