@model ArmyViewModel

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h2 mb-0 text-gray-800">@Model.Army.Name</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
    </a>
</div>

<!-- Units/Upgrades Row -->
<div class="row">

    <!-- Column of Available Units-->

    <div class="col-4" id="available-list">
        <h3 class="h3 mb-0 text-gray-800">Available Units</h3>
        
            @await Html.PartialAsync("_UnitCardAvailable", Model)
        

    </div>

    <!-- Column of ??-->
    <div class="col-4" id="unused">

        <h3 class="h3 mb-0 text-gray-800">Unused List</h3>

        <!-- Collapsable Card Example2 -->
        <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#collapseCardExample2" class="d-block card-header py-3" data-toggle="collapse"
               role="button" aria-expanded="false" aria-controls="collapseCardExample">
                <h6 class="m-0 font-weight-bold text-primary">Collapsable Card Example - Middle COL</h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="collapseCardExample2">
                <div class="card-body">
                    This is a collapsable card example using Bootstrap's built in collapse
                    functionality. <strong>Click on the card header</strong> to see the card body
                    collapse and expand!
                </div>
            </div>
        </div>
    </div>

    <!-- Column of Selected Units-->
    <div class="col-4" id="current-list">
        <h3 class="h3 mb-0 text-gray-800">Current Units</h3>
        
        @if(Model == null)
        {
            //UNUSED PLACEHOLDER

            <!-- Collapsable Card Example2 -->
            <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#collapseCardExample2" class="d-block card-header py-3" data-toggle="collapse"
                    role="button" aria-expanded="false" aria-controls="collapseCardExample">
                    <h6 class="m-0 font-weight-bold text-primary">Collapsable Card Example - Middle COL</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse" id="collapseCardExample2">
                    <div class="card-body">
                        This is a collapsable card example using Bootstrap's built in collapse
                        functionality. <strong>Click on the card header</strong> to see the card body
                        collapse and expand!
                    </div>
                </div>
            </div>
        }
        else
        {
                @await Html.PartialAsync("_UnitCard", Model)
         
        }

    </div>

</div>